@import "tailwindcss";

body {
  font-family: var(--font-alpino), sans-serif;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide-left {
  animation: slide-left 3s linear infinite;
}

.animate-spin-slow {
  animation: spin 6s linear infinite;
}
